<div id="pergaminhos">
	<h3>Pergaminhos</h3>	
	<ul>
		<% for(var i = 0; i < actions.length; i++){%>
			<% 
				var txt_acao = ''

				switch (parseInt(actions[i].acao)) {
					case 1: 
						txt_acao = 'aldeão(ões) coletando recursos'
						break					
					case 2: 
						txt_acao = 'enforcamento(s) programado'
						break
					case 3: 
						txt_acao = 'aldeão(ões) em treinamento de história'
						break
					case 4: 
						txt_acao = 'aldeão(ões) em treinamento de magia'
						break
				}
				var date = new Date()
				var agora = date.getTime()

				var timeLeft = Math.round((actions[i].end_at - agora) / 1000)

				if(timeLeft < 0){
					timeLeft = 0
					return
				}
			%>
			<li>
				<%= actions[i].quantidade%> <%= txt_acao %> - <small>restam <span class="timeLeft"><%= timeLeft %></span> segundos - <a href="/revogar_acao?acao_id=<%= actions[i]._id %>">revogar ordem</a></small>
			</li>
		<% } %>		
	</ul>
</div>
